{% extends "common/base.html" %}

{% block title %}Aquarium Project - Filter{% endblock %}

{% block content %}
<h3>Data read from database:</h3>
{% if filter_status_list %}
<table width="100%" border="1">
<tr>
    <td><b>Timestamp</b></td>
    <td><b>Status</b></td>
</tr>
{% for filter_data in filter_status_list %}
<tr>
    <td>{{ filter_data.timestamp }}</td>
    <td>{{ filter_data.status }}</td>
</tr>
{% endfor %}
</table>
{% else %}
    <p>No filter data are available.</p>
{% endif %}
<a href="{% url 'filter_module:schedule_get' %}">Schedule</a>
{% endblock %}
