{% extends "common/base.html" %}

{% block title %}Aquarium Project - Status{% endblock %}

{% block content %}
<h3>Status page</h3>

<table width="20%">
    <tr>
        <td><b>Temperature</b></td>
        <td>{{ temp_value }}</td>
    </tr>
    <tr>
        <td><b>Heating</b></td>
        <td>{{ heating_status }}</td>
    </tr>
    <tr>
        <td><b>Filter</b></td>
        <td>{{ filter_status }}</td>
    </tr>
    <tr>
        <td><b>Light</b></td>
        <td>{{ light_status }}</td>
    </tr>
    <tr>
        <td><b>Last measure</b></td>
        <td>{{ timestamp }}</td>
    </tr>
</table>

{% endblock %}
