{% extends "common/base.html" %}

{% block title %}Aquarium Project - Temperature{% endblock %}

{% block content %}
<h3>Data read from database:</h3>
<table width="100%" border="1">
<tr>
    <td><b>Timestamp</b></td>
    <td><b>Value</b></td>
</tr>
{% for temp in temp_list %}
<tr>
    <td>{{ temp.timestamp }}</td>
    <td>{{ temp.value }}</td>
</tr>
{% empty %}
    <td>No data</td>
    <td>No data</td>
{% endfor %}
</table>
<br/>
<a href="{% url 'temperature_module:schedule_get' %}">Schedule</a>
{% endblock %}
