<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Aquarium project{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'temperature_module:index_get' %}">Temperature</a></li>
            <li><a href="{% url 'filter_module:index_get' %}">Filter</a></li>
            <li><a href="{% url 'stat_module:index_get' %}">Home</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
