{% extends "common/base.html" %}

{% block title %}Aquarium Project - Schedule{% endblock %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "jquery.js" %}"></script>
<script type="text/javascript">
    var schedule_list = {{ schedule_list | safe }};
    var currently_edited_task =
    {% if not edited_task %}
        null;
    {% else %}
        {{ edited_task | safe }};
    {% endif %}
    </script>
<script type="text/javascript" src="{% static "check_task.js" %}"></script>

<div id="schedule">
{% block schedule %}
    <table width="100%">
        <tr>
            <td><b>Start day</b></td>
            <td><b>Start time</b></td>
            <td><b>End day</b></td>
            <td><b>End time</b></td>
            <td><b>Status</b></td>
            <td><b>Action</b></td>
        </tr>
        <tr>
        {% for task in schedule_list %}
        <tr>
            <td>{{ task.start_day }}</td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_day }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.status }}</td>
            <td>
                <a href="{% url edit_view task.id %}">Edit</a>
                <a href="{% url delete_view task.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
    {% if not edited_task %}
    <h4>Add schedule rule</h4>
    <form method="post" action="" onsubmit="return validate()">
        {% csrf_token %}
        {{ schedule_form }}
        <button class="send" type="submit" formmethod="post" formaction="{% url add_view %}">Add</button>
    </form>
    {% else %}
    <h4>Edit schedule rule</h4>
    <form method="post" action="" onsubmit="return validate()">
        {% csrf_token %}
        {{ schedule_form }}
        <button class="send" type="submit" formmethod="post" formaction="{% url edit_view edited_task.id %}">Submit</button>
    </form>
    {% endif %}
{% endblock %}
</div>
{% endblock %}
