<div id="schedule">
{% block schedule %}
    <table width="100%">
        <tr>
            <td><b>Start day</b></td>
            <td><b>Start time</b></td>
            <td><b>End day</b></td>
            <td><b>End time</b></td>
            <td><b>Status</b></td>
            <td><b>Action</b></td>
        </tr>
        <tr>
        {% for task in schedule_list %}
        <tr>
            <td>{{ task.get_start_day_display }}</td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.get_end_day_display }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.status }}</td>
            <td>
                <button type="submit" formmethod="post" formaction="{% url edit_view task.id %}">Edit</button>
                <button type="submit" formmethod="post" formaction="{% url delete_view task.id %}">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
    <h4>Add schedule rule</h4>
    <form method="post" action="">
        {% csrf_token %}
        {{ schedule_form }}
        <button type="submit" formmethod="post" formaction="{% url add_view %}">Add</button>
    </form>
{% endblock %}
</div>
